<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="telegram_token" value="123" />
    <!-- Путь где лежат файлы -->
    <add key="file_path" value="d:\YandexDisk\UCIT2017\rasp\" />
    <!-- основной чат куда отправлять сообщения от бота, бот должен быть администратором чата -->
    <add key="telegram_chat_id" value="-1001364053151" />
    <!-- страница ВК для парсинга -->
    <add key="vk_wall_id" value="108679504" />
    <!-- ключ для ВК API -->
    <add key="token_vk" value="123" />
    <!-- Страница с расписанием-->
    <add key="url" value="http://ucit.ru/rasp.php" />
    <!-- группа с расписанием для парсинга-->
    <add key="pattern_group" value="февраля 2018" />
    <!-- ЕСЛИ ЗАПОЛНЕНА ГРУППА pattern_group, то оставить это значение пустым. перед какой строкой отрезать лишнее, обязательно экранировать символы < так &lt; и > так &gt;  точку с запятой тоже надо писать-->
    <add key="pattern_start" value="&lt;div align=right&gt;" />
    <!-- после какой строки отрезать лишнее, обязательно экранировать символы < так &lt; и > так &gt;  точку с запятой тоже надо писать-->
    <add key="pattern_end" value="Объявления" />
    <!-- размер страницы высота-->
    <add key="browser_height" value="500" />
    <!-- размер страницы ширина-->
    <add key="browser_widht" value="900" />
    <!--  через какое время проверять сайт, в секундах-->
    <add key="sleep_time" value="14400000" />
    <!-- ниже в адресе ссылки все & надо заменить на &amp;  точку с запятой тоже надо писать-->
    <add key="url_png" value="https://2.downloader.disk.yandex.ru/preview/4e4ab7e525ff874072a7e70256915fa71aa3190f26ce88cbfe7e7f71bc90bcc3/inf/ydqD8sJdOF9-4IOwMMPZ_oDJ0MQIT5sZ9JcvkjC1strfbrUa-XqtUSkYMy9LZuZ_OjpUXi85R9t7OERNDvQkAA%3D%3D?uid=0&amp;filename=shedold.png&amp;disposition=inline&amp;hash=&amp;limit=0&amp;content_type=image%2Fpng&amp;tknv=v2&amp;size=XXL&amp;crop=0" />
  
  </appSettings>
</configuration>
