<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="telegram_token" value="123" />
    <!-- Путь где лежат файлы -->
    <add key="file_path" value="d:\YandexDisk\UCIT2017\rasp\" />
    <!-- основной чат куда отправлять сообщения от бота, бот должен быть администратором чата -->
    <add key="telegram_chat_id" value="-1001364053151" />
    <!-- страница ВК для парсинга -->
    <add key="vk_wall_id" value="108679504" />
    <!-- ключ для ВК API -->
    <add key="token_vk" value="123" />
    <!-- Страница с расписанием-->
    <add key="url" value="http://ucit.ru/rasp.php" />
    <!-- группа с расписанием для парсинга-->
    <add key="pattern_group_1" value="сентября 2017" />
    <!-- группа с расписанием для парсинга-->
    <add key="pattern_group_2" value="февраля 2018" />
    <!-- группа с расписанием для парсинга-->
    <add key="pattern_group_3" value="по специализации WEB с 12 февраля 2018" />
    <!-- группа с расписанием для парсинга-->
    <add key="pattern_group_4" value="" />
        
    <!-- после какой строки отрезать лишнее, обязательно экранировать символы < так &lt; и > так &gt;  точку с запятой тоже надо писать-->
    <add key="pattern_end" value="&lt;div align=right&gt;" />
    <!-- после какой строки отрезать лишнее, обязательно экранировать символы < так &lt; и > так &gt;  точку с запятой тоже надо писать-->
    <add key="pattern_end_bottom" value="Объявления" />
    <!-- размер страницы высота-->
    <add key="browser_height" value="500" />
    <!-- размер страницы ширина-->
    <add key="browser_widht" value="900" />
    <!--  через какое время проверять сайт, в секундах-->
    <add key="sleep_time" value="14400000" />
    <!-- ниже в адресе ссылки все & надо заменить на &amp;  точку с запятой тоже надо писать-->
    <add key="url_png_group_1" value="https://downloader.disk.yandex.ru/preview/0564ddc1a80c9d189cc5d6a4a94f30bc646b84534aa2efafd76e9c7a1183ce2c/inf/ydqD8sJdOF9-4IOwMMPZ_gb8Q16AFPO5zfWWqBfwERcIhsZFAPrqYjqQwu7KHqprhElg7W9RwohTQnaPTMLyvw%3D%3D?uid=0&amp;filename=%D1%81%D0%B5%D0%BD%D1%82%D1%8F%D0%B1%D1%80%D1%8F%202017.png&amp;disposition=inline&amp;hash=&amp;limit=0&amp;content_type=image%2Fpng&amp;tknv=v2&amp;size=2048x2048" />
    <add key="url_png_group_2" value="https://downloader.disk.yandex.ru/preview/5d7b41edbad6c861933852b0fcacffa5ae928e22f65e9b69271df54f11b47afd/inf/ydqD8sJdOF9-4IOwMMPZ_l7TobIhGLgIpDbV9t3CPipFiJfJIY3rpNw__3ksx-gI33HnP3YqjdHn9t0k3WQWGg%3D%3D?uid=0&amp;filename=%D1%84%D0%B5%D0%B2%D1%80%D0%B0%D0%BB%D1%8F%202018.png&amp;disposition=inline&amp;hash=&amp;limit=0&amp;content_type=image%2Fpng&amp;tknv=v2&amp;size=2048x2048" />
    <add key="url_png_group_3" value="https://downloader.disk.yandex.ru/preview/04c942868fac12ca70a7d90b8e1114335a0a9b4a270eaa6f70609881cea3051a/inf/ydqD8sJdOF9-4IOwMMPZ_uAuGzhG8T6szG82FmOVODGbKvHLhW-zo3HivAIi3tu778oaPiBAo5TwSqopjHDpmQ%3D%3D?uid=0&amp;filename=%D0%BF%D0%BE%20%D1%81%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8%20WEB%20%D1%81%2012%20%D1%84%D0%B5%D0%B2%D1%80%D0%B0%D0%BB%D1%8F%202018.png&amp;disposition=inline&amp;hash=&amp;limit=0&amp;content_type=image%2Fpng&amp;tknv=v2&amp;size=2048x2048" />
  
    
  </appSettings>
</configuration>
